.intro {
	font-size: 1.25rem;
}

.listening, .btn {
	font-family: 'nunito';
	font-size: 1.5rem;
}

.btn {
	background-color: white;
	padding: 0 20px;
	border-radius: 100px;
	border: none;
	outline: none;
	color: rgb(35, 138, 235);
	transition: .3s;
}

.btn:hover {
	transform: scale(1.1);
	box-shadow: 0 0 10px rgb(219, 227, 231);
}
